.navbar_container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 62px;
  min-height: 62px;
  max-height: 62px;
  padding: 0;
}
.main_container {
  position: absolute;
  top: 62px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
}
.about_text_row {
  background-color: orange;
  color: white;
}
.nav_text {
  color: orange !important;
}

.nav_text:hover {
  color: white !important;
  text-decoration: underline;
}

.nav_button {
  background-color: #000000 !important ;
  color: white !important;
  border-color: orange !important;
}
.nav_button:hover {
  background-color: orange !important;
  border-color: white !important;
}

.card_bottom_color {
  background-color: orange;
}

.card_shadow {
  box-shadow: 0px 1px 11px 0px #000000;
  transition: transform 0.3s ease-in-out !important;
}
.card_shadow:hover {
  transform: scale(1.1) !important;
}

.carousel_center {
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
}

.social-container {
  background-color: orange !important ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.signin_btn:hover {
  background-color: white !important;
}

.siginbtn_btm {
  background-color: white !important;
  color: black !important;
}
.siginbtn_btm:hover {
  background-color: orange !important ;
  color: white !important;
}

.form_container {
  background-color: orange !important ;
  padding: 50px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}
